
{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "semi": "error",
      "no-trailing-spaces": "error",
      "no-tabs": "error",
      "no-extra-parens": "error"
    }
  }
  